* {
    margin: 0;
    padding: 0;
}

.div {
    background: #070707;
    border: 18px solid #000000;
    box-shadow: 0 0.1px 20px rgb(0, 0, 0);
    border-radius: 75px;
    height: 500;
    width: 200;
    padding-bottom: 5px;
    padding-top: 15px;
    text-align: center;
    margin: 3px;
}
/*commento*/
.div1 {
    background: #fff;
    padding: 30px;
}

.div2 {
    text-align: right;
    align-items: right;
    background: #070707;
    margin: 5px;
    padding-top: 120px;
}
.div3 {
    background: #505050;
    border: 5px solid #aeaeae;
    margin-top: 40px;
    border-radius: 84px;
    box-shadow: 0 2px 30px rgb(0, 0, 0);
    padding: 2px;
    text-align: center;
    max-width: 430px;
    min-width: 430px;
    width: 1000px;
}
.div4 {
    display: flex;
    justify-content: center;
}
.divcont{
    justify-content: center;
    text-align: center;
    display: flex;
    margin-right: 0;
    padding: 0;
}

.button {
    background: #272728;
    border-radius: 50px;
    border: 2px solid #272728;
    margin: 8px;
    width: 20%;
    padding-top: 19px;
    padding-bottom: 19px;
}
.button:hover {
    background: #79797a;
    border: 2px solid #79797a;
}
.button1 {
    background: #D1D1D8;
    border-radius: 50px;
    border: 2px solid #D1D1D8;
    margin: 8px;
    width: 20%;
    padding-top: 19px;
    padding-bottom: 19px;
}
.button1:hover {
    background: #fefefe;
    border: 2px solid #fefefe;
}
.button1pm {
    background: #D1D1D8;
    border-radius: 50px;
    border: 2px solid #D1D1D8;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    width: 20%;
    padding-top: 19px;
    padding-bottom: 20px;
}
.button1pm:hover {
    background: #fefefe;
    border: 2px solid #fefefe;
}

.button22 {
    background: #F29E33;
    border-radius: 50px;
    border: 2px solid #F29E33;
    margin: 8px;
    width: 20%;
    padding-top: 19px;
    padding-bottom: 19px;
    color:#ffffff;
}
.button22:hover {
    background: #e3b477;
    border: 2px solid #e3b477;
}
.button2 {
    background: #F29E33;
    border-radius: 50px;
    border: 2px solid #F29E33;
    margin: 8px;
    width: 20%;
    padding-top: 19px;
    padding-bottom: 19px;
    color:#ffffff;
}
.button2:hover {
    background: #e3b477;
    border: 2px solid #e3b477;
}
.button2.selected {
    background: #ffffff;
    border-radius: 50px;
    border: 2px solid #ffffff;
    margin: 8px;
    width: 20%;
    padding-top: 19px;
    padding-bottom: 19px;
    color:#F29E33;
}
.button2.selected:hover {
    background: #e3b477;
    border-radius: 50px;
    border: 2px solid #e3b477;
    margin: 8px;
    width: 20%;
    padding-top: 19px;
    padding-bottom: 19px;
    color:#F29E33;
}
.button3 {
    background: #272728;
    border-radius: 50px;
    border: 2px solid #272728;
    margin: 8px;
    width: 45%;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: left;
    align-items: left;
}
.button3:hover {
    background: #79797a;
    border: 2px solid #79797a;
}
.buttonup {
    background: #000000;
    border-radius: 50px;
    border: 2px solid #000000;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 40%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 20px;
    margin-left: 40px;
    justify-content: right;
    text-align: right;
    display: flex;
    flex-direction: row;
}
.buttonup:hover {
    background: #000000;
    border-radius: 50px;
    border: 2px solid #000000;
    width: 60%;
    margin-right: 5px;
    margin-left: 25px;
    padding-right: 15px;
}
.buttonbot {
    background: #9a9a9a;
    border-radius: 50px;
    border: 2px solid #9a9a9a;
    width: 45%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 60px;
    margin-bottom: 5px;
}
.buttonbot:hover {
    background: #9a9a9a;
    border-radius: 50px;
    border: 2px solid #9a9a9a;
    margin-top: 5px;
    margin-bottom: 55px;
} 
.buttonmut {
    background: #cdcdcd;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 2px solid #cdcdcd;
    border-left: 2px solid #9b9b9b;
    padding-left: 3px;
    padding-top: 30px;
    margin-top: 235px;
    margin-bottom: 10px;
}
.buttonmut.selected {
    background: #bdbcbc;
    border: 2px solid #bdbcbc;
    border-left: 2px solid #8e8e8e;
    padding-left: 2.1px;
    margin-left: 0.9px;
    padding-top: 28px;
    margin-top: 237px;
}
.buttonvol {
    background: #cdcdcd;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 2px solid #cdcdcd;
    border-left: 2px solid #9b9b9b;
    padding-left: 3px;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.buttonvol:hover {
    padding-left: 0.2px;
    margin-left: 2.8px;
}
.buttonon {
    background: #767575;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 2px solid #767575;
    border-right: 2px solid #5f5f5f;
    padding-right: 3px;
    margin-right: 5px;
    padding-top: 110px;
    margin-top: 320px;
    margin-bottom: 5px;
}
.buttonon:hover {
    padding-right: 0.2px;
    margin-right: 7.8px;
}

.ris{
    font-size: 95px;
    line-height: 1.09375;
    font-weight: 50;
    letter-spacing: 0.011em;
    font-family: Arial, sans-serif;
    color:#fff;
    padding-right: 30px;
}
.sopra{
    font-size: 20px;
    font-family: Arial, sans-serif;
    color:#fff;
    padding: 5px;
    padding-top: 15px;
    padding-left: 40px;
}
.titl{
    font-size: 35px;
    line-height: 1.09375;
    font-weight: 540;
    letter-spacing: 0.011em;
    font-family: Arial, sans-serif;
    color:#fff;
}
.titlt{
    font-size: 35px;
    line-height: 1.09375;
    font-weight: 540;
    letter-spacing: 0.011em;
    font-family: Arial, sans-serif;
}
.titll{
    font-size: 35px;
    line-height: 1.09375;
    font-weight: 540;
    letter-spacing: 0.011em;
    font-family: Arial, sans-serif;
    color:#fff;
    padding-left: 35px;
}
.titln{
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 50;
    letter-spacing: 0.011em;
    font-family: Arial, sans-serif;
    color:#060606;
}

.h1 {
    text-align: center;
    font-size: 40px;
    line-height: 1.09375;
    font-weight: 550;
    letter-spacing: 0.011em;
    font-family: Arial, sans-serif;
    color:#474646;
}

.sih1 {
    text-align: center;
    font-size: 40px;
    line-height: 1.09375;
    font-weight: 500;
    letter-spacing: 0.011em;
    font-family: Arial, sans-serif;
    color:#474646;
}

.sopra1 {
    width: 20%;
    max-width: 20px;
    height: 20%;
    padding: 4px;
    padding-top: 13px;
}
.sopra2 {
    width: 30%;
    max-width: 30px;
    height: 30%;
    padding: 4px;
    padding-top: 13px;
    padding-right: 20px;
}
.sop {
    width: 53%;
    max-width: 53px;
    height: 53%;
}
.fot {
    width: 90%;
    max-width: 30px;
    height: 90%;
}

.colon {
    display: flex;
    flex-direction: column;
}

.buttonupp {
    background: #000000;
    border-radius: 50px;
    border: 2px solid #000000;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 31.3%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 100px;
    margin-left: 110px;
    justify-content: right;
    text-align: right;
}
.buttonuppp {
    background: #000000;
    border-radius: 50px;
    border: 2px solid #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 31.3%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 100px;
    margin-left: 110px;
    justify-content: right;
    text-align: right;
}
.nero {
    background: #000000;
    border: 18px solid #000000;
    box-shadow: 0 0.1px 20px rgb(0, 0, 0);
    border-radius: 75px;
    height: 500;
    width: 200;
    padding-bottom: 750px;
    text-align: center;
    margin: 3px;
}
.nerono {
    background: #070707;
    border: 18px solid #000000;
    box-shadow: 0 0.1px 20px rgb(0, 0, 0);
    border-radius: 75px;
    height: 500;
    width: 200;
    padding-bottom: 5px;
    padding-top: 15px;
    text-align: center;
    margin: 3px;
}
.mela {
    text-shadow: 0 0.1px 60px rgba(255, 255, 255, 0.275);
    text-align: center;
    font-size: 130px;
    color:#ffffff;
    margin-top: 260px;
    margin-bottom: 360px;
}
.mut {
    width: 30%;
    max-width: 30px;
    height: 30%;
    margin-top: 5px;
    margin-right: 55px;
}